.container-fluid,
.collapse,
.navbar-nav,
.user-icon,
svg ,#cart-icon{
  background-color: rgb(240, 238, 238);
}


.navbar {
  height: 100px;
  background-color: rgb(240, 238, 238);
  box-shadow: 1px 38px 80px -28px;
}
ul {
  margin: 10px;
  gap: 50px;
  margin-right: 50px;
}

li,
.anchortags {
  list-style: none;
  font-size: 23px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  background-color: rgb(240, 238, 238);
}
.logo {
  background-color: rgb(240, 238, 238);

  margin-left: 20px;
  width: 270px;
}
.logo:hover {
  scale: 1.15;
  transition: ease-in-out 0.1s;
}
.user-icon,
.cart-icon {
  margin-top: 7px;
  color: black;
  background-color: rgb(240, 238, 238);
}
li:hover {
  scale: 1.15;
  transition: ease-in-out 0.1s;
}
.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}