/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

.container1 {
  font-family: "Montserrat", sans-serif;
}
/* .product-image img {
    width: 300px;
    height: 300px;
}



.rating {
    color: #ff9900;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.similar-products {
    margin-top: 30px;
}

.similar-product {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.similar-product img {
    width: 200px;
    height: 200px;
} */
/* .single_product{
    background-color: #080808;
} */
.like {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-top: 1rem;
  font-weight: 580;
}
.quntity_input {
  display: flex;
  width: 100px;
  height: 40px;
  font-size: 19px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}
.pro_btn {
  top: 49.9rem;
  left: 60.2rem;
}
.rating_label,
.rating-text {
  font-size: 16px;
  font-weight: bolder;
  margin-left: 10px;
  width: 190px;
  background-color: #f6f9fc;
}
.porduct_price {
  font-size: 30px;
  font-weight: 700;
}
#btn_text {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #0f3460;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product_img {
  width: 100%;
  height: 600px;
  object-fit: contain;
  border-radius: 20rem;
}
.product_details {
  color: #414141;
  font-size: 37px;
  font-weight: 600;
  border-bottom: 1px solid #53535398;
  width: 26.4rem;
}
.reviews_count {
  border-bottom: 1px solid #53535300;
  color: #838383;
  font-size: 20px;
}
.product_desc {
  font-size: 17px;
  color: #838383;
}

.MuiSvgIcon-fontSizeInherit {
  background-color: #f6f9fc !important;
}

.big-discount-container {
  background-color: #f6f9fc;
}
.card-row1 {
  position: relative;
  top: 7rem;
  left: 22rem;
  width: 80rem;
  margin-bottom: 7rem;
}

.dp-card {
  background-color: #ffffff;
  width: 26rem;
  height: 24rem;

  box-shadow: 0px 0px 30px 0px #adadad;
}
#dpcard {
  border-radius: 28px;
}
#dpcard-img {
  border-radius: 28px;
}

.product-col {
  display: flex;
  flex-wrap: wrap;
}
.big-discount-title {
  position: relative;
  top: 60rem;
  left: 50rem;
  font-size: 52px;
  font-family: "Outfit", serif;
  font-weight: 600;
  width: 29rem;
}
.dpcard-item,
.product-name,
.product-price,
.dpcard-body {
  background-color: #ffffff;
}
.dpcard-item {
  width: 20rem;
  text-align: left;
}
.dpcard-body {
  /* height: 10rem; */
  width: 22rem;
  margin: 5px;
}
#card-body {
  margin: 0;

  margin-bottom: 8px;
  margin-left: 3px;
  font-family: "Montserrat", sans-serif !important;
}
.product-img {
  width: 100%;
  height: 16rem;
  object-fit: contain;
  background-color: #ffffff;
  border-radius: 50px;
}
.product-img:hover {
  scale: 0.9;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.discount-percentage {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #0f3460;
  padding: 5px 9px;
  border-radius: 20px;
  box-shadow: 0px 3px 5px rgba(0, 101, 253, 0.5);
}

.product-name {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.product-price {
  margin-top: 20px;
  font-size: 30px;
}
.add-to-cart-icon {
  margin-left: 10rem;
}

.MuiSvgIcon-fontSizeInherit,
.rating-text,
#rating-box {
  background-color: #ffffff !important;
}
