#card {
  /* width: 300px; */
  border: none;
  /* background-color: rgb(231, 231, 231); */
  /* border-radius: 15px; */
  background-color: #f6f9fc;
}
.slick-dots li {
  background-color: #ffffff ;
}
.slider-container {
  /* background-color: rgb(0, 121, 228); */

  /* width: 29rem; */
  height: 1px;
  position: relative;
  top: 140px;
  margin: 0px 50px 0px 50px;
}
.card-img {
  position: relative;
  left: -100px;
}
#img {
  width: 40rem;
  float: inline-end;
}
#img-watch {
  width: 26rem;
  float: inline-end;
  position: relative;
  top: 20px;
  left: -200px;
  /* border-radius: 0px 0rem 100rem 220rem; */
}
#img-hero {
  width: 50rem;
  float: inline-end;
}
.card-img-overlay {
  width: 50rem;
}
.slick-track {
  height: 40rem;
}
.slick-arrow {
  background-color: rgb(219, 216, 216);
  border-radius: 20px;
}
.card-img-watch {
  width: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.card-title {
  text-align: left;
  font-size: 80px;
  font-family: "Outfit", serif;
}
.card-text {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin-top: 3rem;
  font-size: x-large;
}
